
.menu{
 display: flex;
 flex-flow: row wrap;
 align-content: space-around;
 gap: 20px;
 justify-content: center;
}

.link{
  width: 20rem;
  height: 4rem;
}

.linkButton{
  width: 100%;
  height: 100%;
  border-radius: 10%;
  background-color: black;
  color: white;
}

.searchCards{
  display: flex;
  flex-flow: column;
  width: 10rem;

}
.break{
  flex-basis: 100%
}

