#root{
  background-image: url("public/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.menu{
 display: flex;
 flex-flow: row wrap;
 align-content: space-around;
 gap: 20px;
 justify-content: center;
}

.link{
  width: 20rem;
  height: 4rem;
}

.linkButton{
  width: 100%;
  height: 100%;
  border-radius: 10%;
  background-color: black;
  color: white;
}

.break{
  flex-basis: 100%
}

